@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  height: 100%;  
}

.d-flex{
  display: flexbox;
}

.panel{
  display: flex;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius: 15px !important;	
	position: relative;	
  padding: 20px;
  width: fit-content; 
  margin: 20px auto;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;

}
